* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101012;
    overflow: hidden;
}

#canvas {
    border: none;
}

.upper {
    position: absolute;
    padding: 10px;
}

/* button styles */
.btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.green { background: #1ABC9C; }
.yellow { background: #FFC04A; }
.purple { background: #6F6FC8; }
.red { background: #FE4343; }
.wheat { background: #F9F6DC; }
.white { background: #FFF; }